@import "tailwindcss";

:root {
  --page-side-margin: 3rem;
  --page-content-gap: 1.5rem;
  --calendar-sidebar-width: 22rem;

  --color-text: #6b6375;
  --color-text-h: #08060d;
  --color-bg: #fff;
  --color-border: #e5e4e7;
  --color-code-bg: #f4f3ec;
  --color-accent: #aa3bff;
  --color-accent-bg: rgba(170, 59, 255, 0.1);
  --color-accent-border: rgba(170, 59, 255, 0.5);
  --color-social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --heading: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --mono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #9ca3af;
    --color-text-h: #f3f4f6;
    --color-bg: #16171d;
    --color-border: #2e303a;
    --color-code-bg: #1f2028;
    --color-accent: #c084fc;
    --color-accent-bg: rgba(192, 132, 252, 0.15);
    --color-accent-border: rgba(192, 132, 252, 0.5);
    --color-social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }
}

@layer base {
  html {
    background: var(--color-bg);
  }

  body {
    @apply m-0 min-h-screen bg-(--color-bg) text-(--color-text) antialiased;
    font-family: var(--sans);
  }

  #root {
    @apply min-h-screen w-full max-w-281.5 mx-auto flex flex-col border-x border-(--color-border) bg-(--color-bg);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--heading);
    color: var(--color-text-h);
  }
}
